In [1]:
!pip install db-sqlite3
import sqlite3

Requirement already satisfied: db-sqlite3 in c:\users\pranathi\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: db in c:\users\pranathi\anaconda3\lib\site-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in c:\users\pranathi\anaconda3\lib\site-packages (from db->db-sqlite3) (1.2.1)

In [2]:
conn=sqlite3.connect('sample.db')
cur=conn.cursor()
print ("Opened database successfully");

Opened database successfully

In [3]:
conn.execute('''CREATE TABLE EMPLOYEE
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(30),
         SALARY         REAL);''')
print ("Table created successfully");

OperationalError: table EMPLOYEE already exists

In [ ]:
conn.execute("INSERT INTO EMPLOYEE (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Pranathi', 19, 'Goa', 2000000.00 )");

conn.execute("INSERT INTO EMPLOYEE (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Anisha', 25, 'Kochi', 15000.00 )");

conn.execute("INSERT INTO EMPLOYEE (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teju', 13, 'Hyderabad', 20000.00 )");

conn.execute("INSERT INTO EMPLOYEE (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Manisha', 22, 'Ranchi ', 65000.00 )");

conn.commit()
print ("Records created successfully");

In [ ]:
for row in conn.execute('select * from EMPLOYEE'):
        print(row)

In [ ]:
conn.commit()

In [ ]:
conn.close()